# Sunucu
PORT=3000
NODE_ENV=development

# Veritabanı
DB_HOST=localhost
DB_PORT=5432
DB_NAME=arabalariseviyoruz
DB_USER=postgres
DB_PASSWORD=sifreniyaz

# JWT
JWT_SECRET=buraya_cok_uzun_ve_rastgele_bir_sifre_yaz
JWT_EXPIRES_IN=7d

# Uygulama
APP_URL=http://localhost:3000
